<% layout('layouts/boilerplate') %>
    <h1 class="text-white">Hello "Enter Username here"</h1>
    <h2 class="text-white">List of ballparks:</h2>
    <ul class="text-white">
        <% for (let i = 0; i < rows.length; i++) { %>
            <li><%= rows[i].park_name %></li>
        <% } %>