<% layout('layouts/boilerplate') %>

    <div class="container min-vh-100 d-flex justify-content-center align-items-center">
        <div class="card shadow card-bg w-100" style="max-width: 400px;">
            <div class="card-body card-bg">
                <h5 class="card-title text-center">Register</h5>
                <form action="/student" method="POST" class="needs-validation" novalidate>
                    <div class="mb-2">
                        <label class="form-label mb-1" for="namestudents">Students Name</label>
                        <input class="form-control" type="text" id="namestudents" name="namestudents" required>
                    </div>
                    <div class="d-grid">
                        <button class="btn btn-success">Enter</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
