<% layout('layouts/boilerplate') %>

    <div class="container min-vh-100 d-flex justify-content-center align-items-center">
        <div class="card shadow card-bg w-100" style="max-width: 400px;">
            <div class="card-body card-bg">
                <h5 class="card-title text-center">Player Details</h5>
                <form action="/myName/details" method="POST" class="needs-validation" novalidate>
                    <div class="mb-2">
                         <label class="form-label mb-1" for="playerName">Players Name</label>
                         <div class="position-relative">
                            <input class="form-control" type="text" id="playerName" name="playerName" autocomplete="off" required>
                            <input type="hidden" name="playerId" id="playerId">
                            <div id="suggestions" class="dropdown-menu w-100" style="max-height: 200px; overflow-y: auto;"></div>
                         </div>
                    </div>
                    <div class="d-grid">
                        <button class="btn btn-success">Enter</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
<script>
</script>
